@{
    ViewBag.Title = "About";
}
<h2>About this Application </h2>
<hr />

<p>
    This assignment showcases a Bike Store system. They system will allow the user to view and
    search all the products available. The user will be able to perform CRUD operations on all the products. The user
    will also be able to view all orders that have been made by customers, as well as generate a report showing the
    number of mountain bikes that have been sold per month.
</p>
